# dub.co short link keys
DUB_API_KEY=XXXXXXXX
DUB_WORKSPACE_ID=XXXXXXXX

# Supabase
DATABASE_URL="postgres://postgres.xxx:xxx@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=10&connect_timeout=300"
DIRECT_URL="postgres://postgres.xxx:xxx@aws-0-us-west-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=10&connect_timeout=300"
ISSUER_KEY=xxxx
ISSUER_ADDRESS=xxx

# Email
RESEND_API_KEY="re_xxxxx"
RESEND_AUDIENCE_ID="xxxxxxxxx"
RECAPTCHA_SECRET_KEY="xxxxxxxx"

#  overrides env.local
NEXT_PUBLIC_APP_ENV=prod

NEXT_PUBLIC_CMS_API_KEY="xxx"
NEXT_PUBLIC_CMS_GRAPHQL_API=https://graphql.datocms.com
CLAUDE_API_KEY=""
ALCHEMY_NOTIFY_TOKEN=xxxx
OPENAI_API_KEY=xxxx