.newsletter-wrapper {
  @apply box-content flex flex-col items-center px-0 mx-auto sm:rounded-3xl sm:text-center;
  background: url("/images/newsletter-bg.webp") center center no-repeat;
  background-size: cover;
}

.narrow-container {
  @apply container md:px-10 xl:px-20;
}

.content-container {
  @apply flex flex-col w-full max-w-screen-md gap-10 px-5 py-10 mx-auto md:py-24;
}

iframe[title="reCAPTCHA"],
.grecaptcha-badge {
  display: relative;
  z-index: 0;
  opacity: 0.333;

  &:hover {
    opacity: 1;
  }
}

/** Tooltip Styling */

*[data-title]::after {
  @apply absolute left-0 mx-auto h-auto w-max max-w-[200px] whitespace-break-spaces bg-muted px-3 py-1 text-xs font-semibold text-muted-foreground transition-all;

  transform: translateY(calc(-100% - 4px));
  content: attr(data-title);
  opacity: 0;
  top: -4px;
  z-index: 0;
  border-radius: 4px;
}

/* making the arrow */
*[data-title]::before {
  @apply pointer-events-none absolute left-0 h-0 w-0 border-r-[5px] border-t-[5px] border-transparent transition-all;

  content: "";
  top: -10px;
  left: 40%;
  transform: rotate(45deg);
  opacity: 0;
  z-index: -1;
}

*[data-title]:hover::before {
  opacity: 1;
  border-top-color: hsla(var(--muted));
  border-right-color: hsla(var(--muted));
  z-index: 100000 !important;
}

*[data-title]:hover::after {
  opacity: 1;
  z-index: 100000 !important;
}

/* TYPOGRAPHY */

.heroHeading {
  @apply text-5xl md:text-6xl font-bold leading-[76px];
}

.heading {
  @apply text-3xl font-bold leading-normal md:text-4xl;
}

.newsletterHeading {
  @apply text-center text-[40.50px] font-extrabold leading-[45px] md:text-4xl sm:text-4xl;
}

/* Heading in About - Security - Whitepaper */
.sectionsHeading {
  @apply text-[3.5rem] sm:text-[3.8rem] font-bold leading-[1.1] lg:text-[4.5rem];
}

/* Subheading in About - Security - Whitepaper */
.sectionsSubheading {
  @apply text-start text-2xl font-medium leading-[42.35px] text-accent-400 md:text-[2.188rem];
}

.heading2 {
  @apply text-2xl font-bold leading-[42px] md:text-4xl;
}

.heading3 {
  @apply text-xl font-bold md:text-xl;
}

.paragraph {
  @apply text-base text-[#9395af];
}

/* LAYOUT */

.header-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  /* Adjust the offset as needed */
}

.mobile-nav {
  height: calc(100vh - 70px) !important;
  width: 100vw;
  overflow: hidden;
  @apply fixed inset-x-0 flex flex-col items-center pb-20 overflow-hidden top-16 justify-evenly bg-background;
}

/* INFOPAGES BG COVER*/
.infopages-background {
  background-size: cover;
  background-repeat: no-repeat;

  @apply relative left-0 top-0 flex h-[510px] w-full items-center justify-center rounded-[45px];
}

.infopages-background--whitepaper {
  background-image: url("/images/info-bg-whitepaper.webp");
}
.infopages-background--about {
  background-image: url("/images/info-bg-about.webp");
}
.infopages-background--security {
  background-image: url("/images/info-bg-security.webp");
}

/* BLUR DOT EFFECT TO BACKGROUND CIRCLE UPCOMING SECTION */
.blur-effect-bg {
  /* Default mobile size */
  --size: 320px; /* Smaller size for mobile */
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 3));
  background-image: linear-gradient(
    hsla(293, 64%, 44%, 1),
    hsla(293, 64%, 44%, 1)
  );
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .blur-effect-bg {
    --size: 460px; /* Intermediate size for tablets */
  }
}

/* Large devices (desktops, 1400px and up) */
@media (min-width: 1400px) {
  .blur-effect-bg {
    --size: 460px; /* Full size for desktop and beyond */
  }
}

.truncate_text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate_text--3-lines {
  white-space: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate_text--4-lines {
  white-space: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate_text--5-lines {
  white-space: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.video-wrapper {
  @apply flex min-h-[70vh] w-full relative;
}

.playlist-pointer {
  @apply absolute z-10 -top-5 right-7 w-6 h-6 bg-accent-700 rounded-full animate-bounce;

  /* arrow polygon pointing down */
  clip-path: polygon(
    50% 100%,
    0% 50%,
    25% 50%,
    25% 0%,
    75% 0%,
    75% 50%,
    100% 50%
  );
}

.grecaptcha-badge {
  display: none !important;
  z-index: -999 !important;
}

.katex-display {
  font-size: clamp(0.7rem, 2vw, 1.2rem); /* Dynamically adjust font size */
  line-height: 1.2;
  padding: 10px 0 !important;
  margin: 10px 0 !important;
  width: 100%; /* Ensure full width of the parent */
  max-width: 100%;
  overflow: auto;
}

.katex {
  font-size: inherit; /* Inherit font size from parent */
  width: 100%;
  max-width: 100%;
  word-wrap: break-word; /* Ensure breaking of long words or expressions */
}
