@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234, 79%, 11%; /* #0c1138 */
    --foreground: 0, 0%, 98%; /* #fafafa */

    --muted: 250.17, 34.1%, 33.92%; /* #3c3e6d */
    --muted-foreground: 0, 0%, 98%; /* #fafafa */

    --popover: 240, 10%, 3.9%; /* #0a0a0b */
    --popover-foreground: 0, 0%, 98%; /* #fafafa */

    --card: 242.18, 56.7%, 19.02%; /* #1c1f4d */
    --card-foreground: 0, 0%, 98%; /* #fafafa */

    --border: 240, 3.7%, 15.9%; /* #262626 */
    --input: 240, 3.7%, 15.9%; /* #262626 */

    --primary: 242.18, 56.7%, 19.02%; /* #1c1f4d */
    --primary-foreground: 0, 0%, 98%; /* #fafafa */

    --secondary: 0, 0%, 98%; /* #fafafa */
    --secondary-foreground: 0, 0%, 6.67%; /* #111111 */

    --accent: 319.38, 80.67%, 53.33%; /* #e91e63 */
    --accent-foreground: 0, 0%, 98%; /* #fafafa */
    --accent-500: 261, 29%, 56%; /* #7c4dff */

    --destructive: 0, 62.8%, 30.6%; /* #9d0208 */
    --destructive-foreground: 0, 85.7%, 97.3%; /* #fff5f5 */

    --success: 136.71, 78.22%, 39.61%; /* #22c55e */
    --success-foreground: 0, 85.7%, 97.3%; /* #fff5f5 */

    --ring: 260.63, 28.57%, 56.08%; /* #7c4dff */

    --gradient-background-start: #080e44;
    --gradient-background-end: #060a35;

    --first-color: 81, 34, 117; /* #512275 */
    --second-color: 64, 29, 102; /* #401d66 */
    --third-color: 47, 23, 88; /* #2f1758 */
    --fourth-color: 31, 18, 76; /* #1f124c */
    --fifth-color: 20, 14, 64; /* #140e40 */
    --pointer-color: 112, 43, 144; /* #702b90 */

    --alert: 78, 90%, 75%; /* #e6ff4d */

    --radius: 24px;
  }

  .dark {
    --background: 234, 79%, 11%; /* #0c1138 */
    --foreground: 0, 0%, 98%; /* #fafafa */

    --muted: 250.17, 34.1%, 33.92%; /* #3c3e6d */
    --muted-foreground: 0, 0%, 98%; /* #fafafa */

    --popover: 240, 10%, 3.9%; /* #0a0a0b */
    --popover-foreground: 0, 0%, 98%; /* #fafafa */

    --card: 242.18, 56.7%, 19.02%; /* #1c1f4d */
    --card-foreground: 0, 0%, 98%; /* #fafafa */

    --border: 240, 3.7%, 15.9%; /* #262626 */
    --input: 240, 3.7%, 15.9%; /* #262626 */

    --primary: 242.18, 56.7%, 19.02%; /* #1c1f4d */
    --primary-foreground: 0, 0%, 98%; /* #fafafa */

    --secondary: 0, 0%, 98%; /* #fafafa */
    --secondary-foreground: 0, 0%, 6.67%; /* #111111 */

    --accent: 319.38, 80.67%, 53.33%; /* #e91e63 */
    --accent-foreground: 0, 0%, 98%; /* #fafafa */
    --accent-500: 261, 29%, 56%; /* #7c4dff */

    --destructive: 0, 62.8%, 30.6%; /* #9d0208 */
    --destructive-foreground: 0, 85.7%, 97.3%; /* #fff5f5 */

    --success: 136.71, 78.22%, 39.61%; /* #22c55e */
    --success-foreground: 0, 85.7%, 97.3%; /* #fff5f5 */

    --ring: 260.63, 28.57%, 56.08%; /* #7c4dff */

    --gradient-background-start: #080e44;
    --gradient-background-end: #060a35;

    --first-color: 81, 34, 117; /* #512275 */
    --second-color: 64, 29, 102; /* #401d66 */
    --third-color: 47, 23, 88; /* #2f1758 */
    --fourth-color: 31, 18, 76; /* #1f124c */
    --fifth-color: 20, 14, 64; /* #140e40 */
    --pointer-color: 112, 43, 144; /* #702b90 */

    --alert: 78, 90%, 75%; /* #e6ff4d */

    --radius: 24px;
  }
}

* {
  @apply border-border ring-offset-ring focus-within:ring-ring focus-within:ring-offset-ring focus-visible:ring-ring focus-visible:ring-offset-ring before:focus-visible:ring-ring before:focus-visible:ring-offset-ring;
}

a:focus-visible {
  outline: 3px solid hsl(var(--ring));
  outline-offset: 2px;
}

body,
html {
  @apply bg-background text-foreground;
}

body,
p {
  @apply text-base font-normal font-futura-pt-demi;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight font-futura-pt-bold;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.qr-code-container {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  background: white;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  padding: 10px;
}

.bg-zoom:hover,
.bg-zoom:focus {
  @apply transition-all;

  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/** Scrollbar Styling */

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a829b9 #080e44;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #080e44;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a829b9;
    border-radius: 6px;
    border: 3px solid #080e44;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a829b9;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #a829b9;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: #080e44;
  }

  &::-webkit-resizer {
    display: none;
  }
}
