# dub.co short link keys
DUB_API_KEY=XXXXXXXX
DUB_WORKSPACE_ID=XXXXXXXX

# Supabase
DATABASE_URL="postgres://postgres.xxx:xxx@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=10&connect_timeout=300"
DIRECT_URL="postgres://postgres.xxx:xxx@aws-0-us-west-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=10&connect_timeout=300"

# Email
RESEND_API_KEY="re_xxxxx"
RESEND_AUDIENCE_ID="xxxxxxxxx"
RECAPTCHA_SECRET_KEY="xxxxxxxx"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="xxxxxxxxx"


#  overrides env.local
NEXT_PUBLIC_APP_ENV=prod

 

JWT_SECRET='{"type":"HS256", "key":"xx52fa850c02dc222631cca898ed1485821a70912a6e3649c49076912daa3b62182ba013315915d64f402ddfbb8b58eb5bd11ba225136a6af45bbae07ca872f4","issuer":"hasura-auth"}'
JWT_TOKEN_EXPIRATION=86400
