@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 79% 11%;
    --foreground: 0 0% 98%;

    --muted: 250.17, 34.1%, 33.92%;
    --muted-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 242.18, 56.7%, 19.02%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 260.63, 28.57%, 56.08%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 260.63, 28.57%, 56.08%;

    --gradient-background-start: #080e44;
    --gradient-background-end: #060a35;

    --first-color: 81, 34, 117;
    --second-color: 64, 29, 102;
    --third-color: 47, 23, 88;
    --fourth-color: 31, 18, 76;
    --fifth-color: 20, 14, 64;
    --pointer-color: 112, 43, 144;

    --radius: 24px;
  }

  .dark {
    --background: 234 79% 11%;
    --foreground: 0 0% 98%;

    --muted: 250.17, 34.1%, 33.92%;
    --muted-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 242.18, 56.7%, 19.02%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 242.18, 56.7%, 19.02%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 260.63, 28.57%, 56.08%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --success: 136.71, 78.22%, 39.61%;
    --success-foreground: 0 85.7% 97.3%;

    --ring: 260.63, 28.57%, 56.08%;

    --gradient-background-start: #080e44;
    --gradient-background-end: #060a35;

    --first-color: 81, 34, 117;
    --second-color: 64, 29, 102;
    --third-color: 47, 23, 88;
    --fourth-color: 31, 18, 76;
    --fifth-color: 20, 14, 64;
    --pointer-color: 112, 43, 144;

    --radius: 24px;
  }
}

/* 5. #140E40 4. #1F124C 3. #2F1758 2. #401D66 1. #512275 0.#060A35 */

@layer base {
  * {
    @apply border-border ring-offset-ring focus-within:ring-ring focus-within:ring-offset-ring focus-visible:ring-ring  focus-visible:ring-offset-ring before:focus-visible:ring-ring before:focus-visible:ring-offset-ring;
  }
  a:focus-visible {
    outline: 3px solid hsl(var(--ring));
    outline-offset: 2px;
    outline-radius: 2px;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.qr-code-container {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  background: white;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  padding: 10px;
}

.newsletter-wrapper {
  @apply container mx-auto flex h-[460px] flex-col items-center gap-14 rounded-3xl px-0 backdrop-blur-xl sm:text-center;

  background: url('/images/newsletter-bg.png') center center no-repeat;
  background-size: cover;
}

/** Scrollbar Styling */

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a829b9 #080e44;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #080e44;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a829b9;
    border-radius: 6px;
    border: 3px solid #080e44;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a829b9;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #a829b9;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: #080e44;
  }

  &::-webkit-resizer {
    display: none;
  }
}

/** Tooltip Styling */

*[data-title]::after {
  @apply absolute left-0 mx-auto w-max max-w-[200px] bg-muted px-3 py-1 text-xs font-semibold text-muted-foreground transition-all;

  transform: translateY(calc(-100% - 4px));
  content: attr(data-title);
  opacity: 0;
  top: -4px;
  z-index: 0;
  border-radius: 4px;
}

/* making the arrow */
*[data-title]::before {
  @apply absolute left-0 h-0 w-0 border-r-[5px] border-t-[5px] border-transparent transition-all;

  content: ' ';
  top: -10px;
  left: 40%;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 0;
}

*[data-title]:hover::before {
  opacity: 1;
  border-top-color: hsla(var(--muted));
  border-right-color: hsla(var(--muted));
  z-index: 100000 !important;
}

*[data-title]:hover::after {
  opacity: 1;
  z-index: 100000 !important;
}
